version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: video_stats
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql